@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
	--base-color: #1e1f26;
	--bg-dark: #000;
	--bg-light-gray: #ffffff46;
	--bg-main: #0a0a0c;

	--font-family: "Exo 2", sans-serif;
	--font-sans: 'Inter', sans-serif;
	--font-display: 'Audiowide', cursive;
	--font-mono: 'JetBrains Mono', monospace;

	--border: #3e3e3e;
	--border-light: #292928;
	--bg-blur: #0000001c;
	--text-secondary: #94a3b8;

	--color-charcoal-base: #0a0a0c;
	--color-charcoal-light: #16161a;
	--color-neon-cyan: #00f3ff;
	--color-silver-white: #e2e8f0;
	--color-alert-red: #ff2a2a;

	/* Glassmorphism */
	--glass-bg: rgba(20, 20, 23, 0.7);
	--glass-blur: blur(12px);

	/* Transitions */
	--transition-speed: 0.4s;
	--transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);

	--container-width: 1280px;
	--container-padding-x: 10px;

	--transition-duration: 0.4s ease;


}

.connection {
	padding-block: 150px;
	background: #000;
}

.container {}

.connection__layout {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
}

.connection__title {
	width: 100%;
	font-size: clamp(20px, 2.78vw, 40px);
	font-weight: 700;
	text-transform: uppercase;
	color: var(--color-silver-white);
	font-family: var(--font-display);
	flex-wrap: nowrap;

}

.connection--accent {
	color: var(--color-neon-cyan)
}

.connection__decor {
	width: 100%;
	height: 1px;
	background: linear-gradient(to right top, var(--color-neon-cyan), rgba(255, 255, 255, 0) 80%)
}

.connection__inner {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 25px;
}


.level-signal {
	grid-row: span 2;
	height: 100%;
}

.card--chat {
	grid-column: span 2;
}

/* Секция левел */
.connection__level {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	background: #080E16;
	border: 1px solid #07363F;
	border-radius: 10px;
	transition: background 0.8s ease-in-out;
	overflow: hidden;
	z-index: 1;
}

.level--box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	background: #080E16;
	border: 1px solid #07363F;
	border-radius: 10px;
	padding: 25px;
}

.connection__level::after {
	content: '';
	position: absolute;
	width: 150%;
	height: 250px;
	border-radius: 50%;
	bottom: -100px;
	left: 50%;
	transform: translateX(-50%);
	background: #07363f45;
	filter: blur(50px);
	z-index: -1;
	transition: opacity 1.2s ease, transform 1.2s ease;
	pointer-events: none;
}

.connection__level:hover::after {
	opacity: 1;
	transform: translateX(-50%) translateY(-20px);
}

.connection__level:hover {
	background: color-mix(in oklab, #00f0ff 5%, #080E16);
}

.level-header {
	min-height: 250px;
	height: auto;
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
}

.level-icons {}

.level-icons svg {
	width: 15px;
	height: auto;
}

.level-title {
	font-family: var(--font-mono);
	font-size: 28px;
	margin-bottom: 10px;
}

.level-text {
	max-width: 250px;
	width: 100%;
	color: #9098A5;

}

.level-body {
	padding-block: 25px 0px;
	border-top: 1px solid #07363F;
	display: flex;
	align-items: center;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	color: #04909B;
	font-size: 12px;
}

.level__status {
	display: flex;
	align-items: center;
	gap: 5px;
}

.level-ping {}

.level-label {
	text-transform: uppercase;
}

.level-securit {}

.level-icons_block {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border-radius: 50%;
	margin-block: 50px;
	background: #073D46;
}

.level-icons_block::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 1px solid var(--color-neon-cyan);
	animation: pulse-ring 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

@keyframes pulse-ring {
	0% {
		transform: scale(0.8);
		opacity: 0.5;
	}

	100% {
		transform: scale(2.5);
		opacity: 0;
	}
}

.level-icons_block svg {
	width: 30px;
	height: 30px;
	color: #00f0ff;
}

/* Git-hub */
.connection__card {
	color: #fff;
	align-items: start;

}

.card--telegram {}

.level--box {}

.card__security {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-bottom: 20px;
}

.card__icon {
	padding: 10px;
	border: 1px solid #00eeff61;
	border-radius: 10px;
	background: rgba(0, 238, 255, 0.059);
	box-shadow: 0 0 15px hsla(184, 100%, 50%, 0.362);

}

.card__icon svg {
	color: #00f0ff;
	display: block;
}

.card__content {}

.card__title {
	font-size: 20px;
	margin-bottom: 5px;
}

.card__description {
	font-size: 12px;
	font-family: var(--font-mono);
	color: #959DAB;
}

.card__name {
	color: #8F98A5;
	margin-bottom: 75px;
	flex: 1;
}

.card__button {
	display: flex;
	align-items: center;
	font-size: 14px;
	gap: 10px;
	background: #072A32;
	color: #00f0ff;
	width: 100%;
	letter-spacing: 0.05rem;
	padding-block: 15px;
	border-radius: 10px;
	text-transform: uppercase;
	border: 1px solid #056068;
	transition: background var(--transition-duration), color var(--transition-duration);

}

.card__button-title {}

.card__button-svg svg {
	width: 17px;
	height: 17px;
	display: block;
}

.card__button:hover {
	background: #00f0ff;
	color: #000000;
}

.card__layout {
	background: #000000;
	padding: 10px;
	border: 1px solid #ffffff2b;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 25px;
}

.layout-title {
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: 8px;
	color: #606877;
}

.layout-feat {
	color: #00E2F0;
	margin-bottom: 10px;
}

.layout-time {
	font-size: 10px;
	color: #5A6371;
}

.card-git .card__icon {
	border-color: #ffffff60;
	box-shadow: 0 0 2px #fff;
}

.card-git .card__icon svg {
	color: #fff;
}

.card-git .card__button {
	color: #fff;
	background: transparent;
	border-color: rgba(255, 255, 255, 0.443);
}

.card-git .card__button:hover {
	color: #000000;
	background: #fff;
}


/* Чат */
.terminal {
	display: flex;
	align-items: center;
	gap: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #1C2736;
	width: 100%;

}

.terminal__nav {
	display: flex;
	align-items: center;
	gap: 10px;
}

.terminal__control {
	width: 15px;
	height: 15px;
	border-radius: 50%;

}

.terminal__control--collapse {
	background: #C9262F;
}

.terminal__control--hide {
	background: #B68804;
}

.terminal__control--close {
	background: #019A40;
}

.terminal-title {
	font-size: 12px;
	color: #4F5765;
	font-family: var(--font-display);
}

.terminal__body {
	width: 100%;
	padding-top: 20px;
}

.terminal__header {}

.terminal__subject {
	color: #848C99;
	font-size: 16px;
	font-family: var(--font-mono);
	margin-bottom: 10px;
}

.terminal__subtitle {
	font-family: var(--font-display);
	color: #00F000;
}



.terminal__form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 250px;
	height: auto;
}

/* Группировка промпта и ввода */
.terminal__input-group {
	display: flex;
	align-items: flex-start;
	/* Чтобы промпт оставался сверху при длинном тексте */
	flex-grow: 1;
	gap: 10px;
}

.terminal__prompt {
	color: #00ff00;
	font-family: monospace;
	padding-top: 5px;
	/* Выравнивание по первой строке текста */
}

.terminal__textarea {
	background: transparent;
	border: none;
	color: #fff;
	font-family: monospace;
	font-size: 14px;
	line-height: 1.5;
	width: 100%;
	resize: none;
	/* Отключаем ручное изменение размера пользователем */
	outline: none;
	padding: 5px 0;
	overflow-y: hidden;
	height: 255px;
	/* Прячем скролл, если будем расширять через JS */
}

.button-navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.terminal__send-btn {
	background: transparent;
	border: none;
	color: #00ff00;
	cursor: pointer;
	opacity: 0.7;
	transition: opacity 0.3s;
	padding: 5px;
	border: 1px solid greenyellow;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	width: max-content;
	border-radius: 5px;
}

.terminal__send-btn:hover {
	opacity: 1;
}




@media screen and (min-width: 768px) and (max-width: 1080px) {
	.connection__inner {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 200px) and (max-width: 768px) {
	.connection__inner {
		grid-template-columns: repeat(1, 1fr);
	}

	.card--chat {
		grid-column: span 1;
	}
}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */